artworks.dtd

<!-- Hana(M01087805), Anushka(M01091174), Fathima(M01096140), Margaret(M01002694) -->
<!ELEMENT gallery (artwork+)>
<!ATTLIST gallery 
          xmlns CDATA #FIXED "http://www.artgallery.com/schema">

<!ELEMENT artwork (title, artist, year, type, description, price, link)>
<!ATTLIST artwork 
          id ID #REQUIRED
          medium CDATA #IMPLIED
          style CDATA #IMPLIED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT artist (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT link (#PCDATA)>
